
  @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');


.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
main {
	min-height: 80vh;
}
html {
	height: 100%;
	background: #ffffff; /* Color de fondo blanco para el elemento html */
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%; /* Establece la altura mínima del cuerpo al 100% del viewport */
	display: flex;
	flex-direction: column;
	background: url('../img/fondoxo_1.svg') no-repeat center center fixed; /* Cambia 'tu_imagen.jpg' con la ruta de tu imagen */
	background-size: cover;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
	position: fixed; /* O utiliza 'absolute' según tus necesidades */
	bottom: 0;
	width: 100%;
	height: 10vh;
	background-color: #122A36;
	color: #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Fredoka', sans-serif;
  }

  a {
	text-decoration: none; /* Quítale la subrayado del enlace */
	color: inherit; /* Hereda el color del texto del elemento padre */
	cursor: pointer; /* Muestra un cursor de puntero al pasar el mouse */
  }

/* Barra de Progreso ======================*/
.tictactoe-logo {
	max-width: 500px;
	width: 90vw;
	margin-top: 5px;
	height: auto;
}
.progress-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	color: #122A36;
	font-family: 'Fredoka', sans-serif;
	font-size: 20px;
}

.progress-bar>.barra-llenado {
	width: 70vw;
	max-width: 400px;
	height: 3em;
	border-radius: 50px;
	border: 2px solid #122A36;
	background-color: #aedff200;
	display: flex;
	overflow: hidden;
}

.progress-bar>.barra-llenado::before {
	content: "";
	background-color: #0081C6;
	width: calc(var(--width, 0) * 1%);
	border-radius: 50px;
}

#logo-container {
    margin-top: 80px; /* Ajusta el valor según sea necesario */

}

#button-home-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px; /* Ajusta el valor según sea necesario */
	margin-top: 20px;
}

.red-button,
.blue-button {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 20px;
	width: 160px;
	height: 50px;
}


.blue-button {
	background-color: #0081C6;
	color: white;
	border: none;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
	font-family: 'Fredoka', sans-serif;
	transition: all 0.25s ease; /* Agregado para aplicar la transición a todos los cambios */
  }
  
  .blue-button::after {
	content: "X";
	position: absolute;
	left: -20%;
	transition: 0.25s ease;
  }
  
  .blue-button span {
	padding-left: 0; /* O el valor que desees para el estado normal */
	transition: 0.25s ease;
  }
  
  .blue-button:hover {
	width: 170px; /* Aumenta el ancho en el estado de hover */
	cursor: pointer;
  }
  
  .blue-button:hover span {
	padding-right: 30px; /* Ajusta el valor según sea necesario para el desplazamiento */
  }
  
  .blue-button:hover::after {
	left: 20px;
  }


  .red-button {
    background-color: #DC4C22;
    color: white;
    border: none;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
	transition: all 0.25s ease; /* Agregado para aplicar la transición a todos los cambios */

  }
  
  .red-button::after {
	content: "O";
	position: absolute;
	left: -20%;
	transition: 0.25s ease;
	font-family: 'Fredoka', sans-serif;
  }
  
  .red-button span {
	padding-left: 0; /* O el valor que desees para el estado normal */
	transition: 0.25s ease;
  }
  
  .red-button:hover {
	width: 170px; /* Aumenta el ancho en el estado de hover */
	cursor: pointer;

  }
  
  .red-button:hover span {
	padding-right: 30px; /* Ajusta el valor según sea necesario para el desplazamiento */
  }
  
  .red-button:hover::after {
	left: 20px;
  }

  #container-info {
	justify-content: left;
	margin-top: 40px; /* Ajusta la distancia desde el elemento superior según sea necesario */

}

.green-button {
    width: 50px;
    height: 50px;
    background-color: #9DDF2C;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    cursor: pointer;
	margin-top: 50px; /* Ajusta la distancia desde el elemento superior según sea necesario */
	margin-left: 40px;
}

#button-back-container {
	justify-content: left;
	width: 60px;
	margin-left:10px;
	margin-top:10px;
}
  
.back-button {
    background-color: transparent;
	border: none;
	cursor: pointer;
}


/* BOTÓN CON IMAGEN PARA DIGIRSE A HOME */
#button-logo-form{
	display: flex;
	align-items: center;
	justify-content: right;

}
  
.logo-button{
	background-color:transparent;
	border:none;
	cursor: pointer;
}

/*FORMILARIO PARA REGISTRARSE*/
#form-container {
	width: 45%;
	height: auto;
	background-color: #FF9500;
	border-radius: 30px;
	display: flex;
	align-items: stretch; /* Ajusta la propiedad 'align-items' a 'stretch' */
	justify-content: center;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: 20px; /* Agregamos un margen inferior para separar del contenedor de registro */

}

.header-form {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #0081C6;
	display: flex;
	align-items: center; /* Centra el contenido verticalmente dentro de header-form */
	justify-content: center; /* Centra el contenido horizontalmente dentro de header-form */
	font-family: 'Fredoka', sans-serif;
	color: white;
	font-size: 40px;
	font-weight: bold;

}

.campos-form {
    padding: 20px;
	margin-top: 20px;
}

.campos-form .campo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.campos-form .campo label {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    padding-right: 20px;
    text-align: left;
    font-family: 'Fredoka', sans-serif; /* Fuente 'Fredoka One' */
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.campos-form .campo input {
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    width: 50%;
    border: none;
    color: black; /* Color del texto */
    font-family: 'Fredoka', sans-serif; /* Fuente */
    font-size: 16px; /* Tamaño de fuente */
    text-align: center; /* Alineación del texto */
}



.red-button-registro {
    background-color: #DC4C22;
    color: white;
    border: none;
	margin-left: 22%;
	font-family: 'Fredoka', sans-serif;
	width: 150px;
	height: 50px;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;

}

.campos-form .campo img {
    margin-right: 10px; /* Espaciado entre la etiqueta y el icono */
	width: 2%;
}

.registro-container {
    display: flex;
	width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 32%;
	position: absolute;
	top: 5%;

}

.registro-container label {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    color: #0081C6;
	margin-right: 3.5%;
	margin-left:37%;
}

.registro-container button {
    /* Estilos del botón blue-button */
    background-color: #0081C6;
    color: white;
    border: none;
    border-radius: 20px;
    width: 160px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    font-family: 'Fredoka', sans-serif;
    transition: all 0.25s ease;
}

